<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Learn Automation">
        <classes>
            <class name="org.ritwikvinay.Project2_Cura">
                <methods>
                    <include name="test_verify_URl"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>